<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/references">References</a></li>
		<li><a href="https://github.com/ChristianKomodo/lets-learn-nodejs/" target="_blank">GitHub Repo</a></li>
	</ul>
</nav>

<h1><%= title %></h1>
