<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<% include ../partials/header %>
		<p>Working examples of NodeJS with ExpressJS and Vanilla Javascript</p>
		<hr>
		<br>

		<p>How about we use an API to get a random <a href="/yesno">Yes or No</a> animated Gif?</p>
		<p>How about we <a href="omdb/search/jaws">search</a> for the movie "Jaws" with the OMDB API?</p>
		<p>How about we submit a field to a <a href="form">form</a>?</p>
		<p>How about using <a href="ajax">Ajax</a> to submit the form?</p>
		<p>How about a better <a href="movie-search">movie search</a>?</p>
		<p>How about we play a fun <a href="movie-quiz">movie quiz</a>?</p>
	</body>
</html>
