<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<style>
			h4 {
				margin-bottom: 6px;
			}
		</style>
		<% include ../partials/header %>
		<p>A list of library documentation and articles that were helpful in making these examples</p>
		<hr>
		<br>

		<ul>
			<li>
				<h4>Accessible Autocomplete</h4>
				<a href="https://alphagov.github.io/accessible-autocomplete/examples/">https://alphagov.github.io/accessible-autocomplete/examples/</a>
			</li>
			<li>
				<h4>Cheerio - HTML parsing library</h4>
				<a href="https://www.npmjs.com/package/cheerio">https://www.npmjs.com/package/cheerio</a>
			</li>
			<li>
				<h4>Mozilla Developer Network Article on XMLHttpRequest</h4>
				<a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest">
					https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest
				</a>
			</li>
			<li>
				<h4>Stack Overflow Answer about AJAX Posts with Node and Express Using Vanilla JS</h4>
				<a href="https://stackoverflow.com/questions/46405156/post-ajax-calls-with-node-express-vanilla-js">
					https://stackoverflow.com/questions/46405156/post-ajax-calls-with-node-express-vanilla-js
				</a>
			</li>
			<li>
				<h4>AirVisual API - Service for returning air quality data and weather conditions</h4>
				<a href="https://api-docs.airvisual.com/">https://api-docs.airvisual.com/</a>
			</li>
			<li>
				<h4>How to Connect to an API with JavaScript</h4>
				<a href="https://www.taniarascia.com/how-to-connect-to-an-api-with-javascript/">https://www.taniarascia.com/how-to-connect-to-an-api-with-javascript/</a>
			</li>
			<li>
				<h4>How to get data with JavaScript in 2018</h4>
				<a href="https://medium.com/@mattburgess/how-to-get-data-with-javascript-in-2018-f30ba04ad0da">https://medium.com/@mattburgess/how-to-get-data-with-javascript-in-2018-f30ba04ad0da</a>
			</li>
		</ul>
	</body>
</html>