body {
	padding: 25px 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  nav {
	  text-align: right;

	  ul {
		  margin: 0;
		  padding: 0;

		  li {
			  list-style: none;
			  display: inline-block;
			  margin-left: 24px;

			  a {
				  text-decoration: none;
			  }
		  }
	  }
  }

  a {
	color: #00B7FF;
  }